!
! Xft
!
! Xft.dpi: 168
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!
! Xcursor
! 
Xcursor.size: 64


!
! Colors
! Base16 Chalk
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #151515
#define base01 #202020
#define base02 #303030
#define base03 #505050
#define base04 #b0b0b0
#define base05 #d0d0d0
#define base06 #e0e0e0
#define base07 #f5f5f5
#define base08 #fb9fb1
#define base09 #eda987
#define base0A #ddb26f
#define base0B #acc267
#define base0C #12cfc0
#define base0D #6fc2ef
#define base0E #e1a3ee
#define base0F #deaf8f

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06

!
! rxvt-unicode
!
URxvt.scrollBar: false
URxvt.internalBorder: 48
URxvt.depth: 32
URxvt.background: rgba:1500/1500/1500/f000
! URxvt*font: -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*
URxvt.font: xft:Terminus:size=8
URxvt.perl-ext-common: font-size

URxvt.keysym.C-equal: perl:font-size:increase
URxvt.keysym.C-minus: perl:font-size:decrease

!
! rofi
!
rofi.modi: run
rofi.opacity: 90
rofi.width: 100
rofi.lines: 1
rofi.columns: 6
rofi.font: Terminus 8
rofi.bw: 0
rofi.location: 2
rofi.terminal: urxvt
rofi.autoselect: true
